html {
    background-color: #927778;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    
    

}


body {
    color: #fcf9f9;
    font-family: Arial;
}

header {
    background-color: #f8faf7;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-family: Arial;
}

p{
  font-family: Georgia;
}
  
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000301;
    color: #f5f0f0;
    text-decoration: none;
    border: 1px solid #f6f6f7;
    border-radius: 1000px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333333;
  }
  
  nav a:hover {
    background-color: #f2f2f2;
  }

  div {
    column-count: 2;
    column-gap: 20px;
  }


  root {
    --cor-primaria: #ff0000;    /* Cor primária */
    --cor-secundaria: #00ff00;  /* Cor secundária */
    --cor-fundo: #ffffff;       /* Cor de fundo */
  }
  